 body {
        font-family: arial;
        background-color: #111111;
        color: #ffffff;
      }
    a {
      color: #ff00ff;
    }
    a:hover {
      transition: all .2s ease-in-out;
      font-size: 130%;
      color: #780078;
    }
