 body {
        font-family: arial;
        background-color: #111111;
        color: #ffffff;
      }
    a {
      color: #00ffff;
    }
    a:hover {
      transition: all .2s ease-in-out;
      font-size: 110%;
      color: #007878;
    }
